{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <form method="POST" action="{{url_for('delete',task_id=task_id)}}">
        {{form.hidden_tag()}}
        <div class="row">
            <h3>Are you sure ?</h3>
            <div class="col">
                {{title}}
            </div>
            <div class="col">
                {{form.submit(class="btn btn-danger")}}
                <a href="{{url_for('index')}}" class="btn btn-primary"></a>
            </div>
        </div>
    </form>
    {% if title %}
    <p>{{title}}</p>
    {% endif%}
</div>

{% endblock %}