{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <form method="POST" action="{{url_for('edit',task_id=task_id)}}">
        {{form.hidden_tag()}}
        <div class="row">
            <h3>Edit Task</h3>
            <!--{{form.title.label}}-->
            <div class="col">
                {{form.title(class="form-control")}}
            </div>
            <div class="col">
                {{form.submit(class="btn btn-primary")}}
            </div>
        </div>
    </form>
    {% if title %}
    <p>{{title}}</p>
    {% endif%}
</div>

{% endblock %}